<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>HOME</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
</head>
<style>
    table tbody tr td a {
        display: block;
        width: 100%;
        height: 100%;
        color:black;
    }
    input[type=checkbox]{
        -webkit-appearance:checkbox;
    }
</style>
<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(profiles)}">
            <h1>Home</h1>
            <form role="form">
                <div class="form-group">
                    <input type="input" class="form-control input-lg" id="txt-search" placeholder="Search by name">
                    
                    
                  
                    <br>
                </div>
            </form>  
        <table class="highlight">
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Active</th>
                <th>Blocked</th>
            </tr>
            </thead>
                <tbody id="filter-records">
                    <tr th:each="profile: ${profiles}">
                        <td><a th:href="${'/profile/' + profile.id}" th:text="${profile.name}"></a></td>
                        <td><a th:href="${'/profile/' + profile.id}" th:text="${profile.age}"></a></td>
                        <td><a th:if="${profile.active}" th:href="${'/profile/' + profile.id}">&#9745</a>
                        <a th:unless="${profile.active}" th:href="${'/profile/' + profile.id}">&#9744</a></td>
                        <td><a th:if="${profile.blocked}" th:href="${'/profile/' + profile.id}">&#9745</a>
                        <a th:unless="${profile.blocked}" th:href="${'/profile/' + profile.id}">&#9744</a></td>
                    </a>
                    </tr>
                </tbody>
        </table>
        </div>
    </div>
</body>

<script>
    $('#txt-search').keyup(function(){
        var searchField = $(this).val();
        if(searchField === '')  {
        }
                
        var regex = new RegExp(searchField, "i");
        var output = '<tr>';
        var count = 1;

        $.getJSON('search', function (data) {
            $.each(data, function(key, val){
            if ((val['name'].first.search(regex) != -1) || (val['name'].last.search(regex) != -1)) {
                output += '<td><a href="profile/'+ val.id + '">';
                output += val['name'].first + " " + val['name'].middle + " " + val['name'].last;
                output += '</a></td>';
                output += '<td><a href="profile/'+ val.id + '">';
                output += val.age;
                output += '</a></td>';
                output += '<td><a href="profile/'+ val.id + '">';
                if (val.active){
                    output += '&#9745';
                }
                else{
                    output += '&#9744';
                }
                output += '</a></td>';
                output += '<td><a href="profile/'+ val.id + '">';
                if (val.blocked){
                    output += '&#9745';
                }
                else{
                    output += '&#9744';
                }
                output += '</a></td>';
                
                output += '<tr></tr>'
                
                count++;
            }
        });
    
        output += '</tr>';
        $('#filter-records').html(output);
            
        });
    });
        
</script>
</html>